<section class="participants" id="participants">
  <div class="container">
    <div class="participants__inner">
      <h2 class="participants__title h2">Участники турнира</h2>
      <div class="slider-pagination participants-nav">
        <button class="slider-prev prev"></button>
        <div class="slider-counter">
          <span class="current slider-current">1</span>
          /
          <span class="total slider-total">1</span>
        </div>
        <button class="slider-next next"></button>
      </div>
      <div class="participants-slider">
        <div class="slider" data-slider>
          <ul class="slider-track">
            <li class="slide">
              <div class="slide__image">
                <img class="img-absolute" src="../images/content/person.png" alt="" />
              </div>
              <h4 class="slide__title">Хозе-Рауль Капабланка</h4>
              <p class="slide__position">Чемпион мира по шахматам</p>
              <a href="#" class="slide__btn">Подробнее</a>
            </li>
            <li class="slide">
              <div class="slide__image">
                <img class="img-absolute" src="../images/content/person.png" alt="" />
              </div>
              <h4 class="slide__title">Эммануил Ласкер</h4>
              <p class="slide__position">Чемпион мира по шахматам</p>
              <a href="#" class="slide__btn">Подробнее</a>
            </li>
            <li class="slide">
              <div class="slide__image">
                <img class="img-absolute" src="../images/content/person.png" alt="" />
              </div>
              <h4 class="slide__title">Александр Алехин</h4>
              <p class="slide__position">Чемпион мира по шахматам</p>
              <a href="#" class="slide__btn">Подробнее</a>
            </li>
            <li class="slide">
              <div class="slide__image">
                <img class="img-absolute" src="../images/content/person.png" alt="" />
              </div>
              <h4 class="slide__title">Арон Нимцович</h4>
              <p class="slide__position">Чемпион мира по шахматам</p>
              <a href="#" class="slide__btn">Подробнее</a>
            </li>
            <li class="slide">
              <div class="slide__image">
                <img class="img-absolute" src="../images/content/person.png" alt="" />
              </div>
              <h4 class="slide__title">Рихард Рети</h4>
              <p class="slide__position">Чемпион мира по шахматам</p>
              <a href="#" class="slide__btn">Подробнее</a>
            </li>
            <li class="slide">
              <div class="slide__image">
                <img class="img-absolute" src="../images/content/person.png" alt="" />
              </div>
              <h4 class="slide__title">Остап Бендер</h4>
              <p class="slide__position">Гроссмейстер</p>
              <a href="#" class="slide__btn">Подробнее</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
