<section class="session">
  <div class="container container--full">
    <div class="session__inner">
      <div class="session-left">
        <img src="../images/content/02.png" alt="" />
      </div>
      <div class="session-right">
        <h3 class="session__title h3">
          и Сеанс <span class="red">одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера
        </h3>

        <table class="info-table">
          <tbody>
            <tr>
              <td class="info-table__name">Место проведения:</td>
              <td class="info-table__value">Клуб «Картонажник»</td>
            </tr>

            <tr>
              <td class="info-table__name">Дата и время мероприятия:</td>
              <td class="info-table__value">22 июня 1927 г. в 18:00</td>
            </tr>

            <tr>
              <td class="info-table__name">Стоимость входных билетов:</td>
              <td class="info-table__value">20 коп.</td>
            </tr>

            <tr>
              <td class="info-table__name">Плата за игру:</td>
              <td class="info-table__value">50 коп.</td>
            </tr>

            <tr>
              <td class="info-table__name">Взнос на телеграммы:</td>
              <td class="info-table__value">
                <span class="line-through">100 руб.</span>
                21 руб. 16 коп.
              </td>
            </tr>
          </tbody>
        </table>
        <p class="session__desc">По всем вопросам обращаться в администрацию к К. Михельсону</p>
      </div>
    </div>
  </div>
</section>
