<section class="steps">
  <div class="steps__inner">
    <div class="container">
      <div class="steps-head">
        <h2 class="h2 steps-head__title">Этапы преображения Васюков</h2>
        <span class="steps-head__desc">Будущие источники обогащения васюкинцев</span>
      </div>
    </div>
    <img class="steps__fly" src="../images/content/fly.png" alt="fly" />
    <div class="container">
      <div class="slider" data-slider-steps>
        <ul class="layout slider-track">
          <li class="group group-1 group-slide">
            <div class="card">
              <span class="card__num">1</span>
              <p class="card__text">Строительство железнодорожной магистрали Москва-Васюки</p>
            </div>
            <div class="card">
              <span class="card__num">2</span>
              <p class="card__text">Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</p>
            </div>
          </li>

          <li class="card group-2 group-slide">
            <span class="card__num">3</span>
            <p class="card__text">
              Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры,
              шоколадных конфет
            </p>
          </li>

          <li class="group group-3 group-slide">
            <div class="card">
              <span class="card__num">4</span>
              <p class="card__text">Строительство дворца для турнира</p>
            </div>
            <div class="card">
              <span class="card__num">5</span>
              <p class="card__text">Размещение гаражей для гостевого автотранспорта</p>
            </div>
          </li>

          <li class="card group-4 group-slide">
            <span class="card__num">6</span>
            <p class="card__text">
              Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
            </p>
          </li>

          <li class="card group-5 group-slide">
            <span class="card__num">7</span>
            <p class="card__text">
              Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы
              света, включая Лос-Анжелос и Мельбурн
            </p>
          </li>
        </ul>
        <div class="steps-nav">
          <button class="steps-slider-prev prev"></button>
          <div class="slider-pagination steps-slider-pagination"></div>
          <button class="steps-slider-next next"></button>
        </div>
      </div>
    </div>
  </div>
</section>
